body {
  background: #25a9fc;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: calc(40vw - 10px);
  height: calc(70vh - 30px);

  .head {
    position: absolute;
    top: 16.5%; /* (100-67) / 2 */
    left: 25%; /* (100-50) / 2 */
    width: 50%;
    height: 67%;
    border-radius: 50%;
    background: #a6becf;

    &-copy {
      width: 100%;
      height: 100%;
      position: absolute;
      background: #a6becf;
      border-radius: 50%;
      z-index: 2;
    }

    .ear-left {
      position: absolute;
      width: 60%;
      height: 65%;
      left: -20%; /* sola kaydırdı */
      top: 5%;
      border-radius: 50%;
      background: #a6becf;
      z-index: 1;
    }

    .ear-right {
      position: absolute;
      width: 60%;
      height: 65%;
      right: -20%;
      top: 5%;
      border-radius: 50%;
      background: #a6becf;
      z-index: 1;
    }

    .eye-right {
      position: absolute;
      width: 30%;
      height: 33%;
      right: 21%;
      top: 25%;
      border-radius: 50%;
      background: #fff;
      z-index: 2;
    }

    .eye-left {
      position: absolute;
      width: 30%;
      height: 33%;
      left: 21%;
      top: 25%;
      border-radius: 50%;
      background: #fff;
      z-index: 3;
    }

    .nose {
      position: absolute;
      width: 25%;
      height: 42.5%;
      left: 37%;
      top: 45%;
      border-radius: 50px;
      background: #be845f;
      z-index: 4; /* en üste çıkması için */
    }

    .hair-right {
      position: absolute;
      width: 20%;
      height: 20%;
      left: 48%;
      top: -4%;
      background: #a6becf;
      -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .hair-left {
      position: absolute;
      width: 20%;
      height: 20%;
      left: 30%;
      top: -8%;
      background: #a6becf;
      -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  }
}

.inner-ear {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background: #819caf;
}

.pupil {
  position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354a;
}
